<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>criador-de-lutas</display-name>
  
  <servlet>
  	<servlet-name>cadastrar</servlet-name>
  	<servlet-class>criador.controller.CadastrarController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>buscar</servlet-name>
  	<servlet-class>criador.controller.BuscarController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>excluir</servlet-name>
  	<servlet-class>criador.controller.ExcluirController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>alterar</servlet-name>
  	<servlet-class>criador.controller.AlterarController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>cadastrar</servlet-name>
  	<url-pattern>/cadastrarAtleta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>buscar</servlet-name>
  	<url-pattern>/buscarAtleta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>excluir</servlet-name>
  	<url-pattern>/excluirAtleta</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>alterar</servlet-name>
  	<url-pattern>/alterarAtleta</url-pattern>
  </servlet-mapping>

</web-app>